*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(chickmagalore.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 3%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    height: 100px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 50%;
}
 /* .navbar ul li{
    display: flex;
     float: right; 
    width: 100px;
    padding: 8px 0;
    border: 2px solid red;
    border-radius: 50px; 

}  */
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
nav ul li:hover{
    border-radius: 2px;
    background-color:darkorange;
    transform: translateY(-10px);
    padding: 5px 10px;
    border-radius: 10px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
h1{
    font-size: 150px;
    /* display: flex; */
    color: white;   
}
.col{
    /* display:flex; */
    /* margin-top: 20%; */
    flex-basis: 50%;
}
p{
    font-size: 25px;
    line-height: 25px;
    color:white;
}
button{
    width: 180px;
    color: rgb(243, 9, 1);
    font-size: 12px;
    padding: 12px 0;
    background:white ;
    border: 0;
    border-radius: 20px;
    margin-top: 30px;
}
/* .col{

    flex-wrap: wrap;
} */
/* .must{
    width: 100%;
    height: 100vh;
    
} */


.card{
    width: 200px;
    height: 230px;
    display:inline-block;
    /* grid-template-columns: repeat(4,25%); */
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;
    background-position:center;
    background-size: cover;
    /* margin-right: 200px;
    margin-bottom:30px; */
    transition:transform 0.5s;
    
}
.card1{
    background-image: url(jog.jpg);
}
.card2{
    background-image: url(mysore.jpg);
}
.card3{
    background-image: url(hampi.jpg);
}
.card4{
    background-image: url(maravnthe.jpg);
}
.card5{
    /* background-image: url(mysore.jpg); */
}
.card6{
    /* background-image: url(mysore.jpg); */
}
.card7{
    /* background-image: url(yanacave.jpg); */
}
.card8{
    /* background-image: url(sringeri.jpg); */
}
.card:hover{
    transform: translateY(-10px);
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: monospace;
    color:white;
}
/* h5{
    color:red;
} */

ul.li{
    list-style: none;
    padding: 0;
    margin: 10px;

}
/* .img-grid{
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.img-grid img{
    width:300px;
    height: 300px;
    cursor: pointer;

} */
/* .img-grid{
    
} */
h2{
    color: rgb(171, 171, 240);
    text-align: center;
    font-size: 50px;
}
.menc{
    padding-top: 20px;
    background:linear-gradient(60deg,rgb(71, 71, 56),rgb(44, 85, 78),rgb(77, 77, 50));
    background-size: cover;
    background-repeat: no-repeat;


}
.men-wrap-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.men-wrap{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}
.men-wrap a{
    text-decoration: none;
    text-shadow: 3px 2px 3px rgb(247, 6, 155) ;
    font-weight: bold;
    /* box-shadow: 3px 2px 5px rgb(161, 211, 241); */
}
.men-wrap img{
    height: 250px;
    width: 300px;
    }
.men-wrap-img p{
    color:antiquewhite;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* box-shadow: 5px 2px 3px 2px; */
}